@using CoffeeShopRegistrationLab.Views
@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>
<div class="text-center">
    <h1 class="display-4">Privacy Policy</h1>
    <p class="display-4">We take privacy very seriouly and won't ever sell or share personal information. 
         Registering will help our goal to serve customers. We collect things like name and 
        email to send special offers and discounts for loyal customers, and to make it easier 
        to enjoy your favorite @Constants.CoffeeShopName beverages. 
<br /><br />
     <a asp-area="" asp-controller="Users" asp-action="Register">Register</a></p>
</div>
