@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>
<div class="text-center">
    <h1 class="display-4">Privacy Policy</h1>
    <p class="display-6">We won't sell your information to anyone except Elon Musk, and only if he gives us a lot of money.
    We might sell it to Bezos too. Well, hell, we'll just sell it to anyone who gives us money.<br /><br /> 
    By using this site, you agree that it's okay to sell your stuff and that we are just a great group of people.
<br /><br />
    Okay, I agree, now please let me <a asp-area="" asp-controller="Users" asp-action="Register">Register</a></p>
</div>
