@model CoffeeShopRegistrationLab.Models.User

@{
    ViewData["Title"] = "Register";
}

<h1>Register</h1>

<h4>User</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Register">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="FirstName" class="control-label"></label>
                <input asp-for="FirstName" class="form-control" />
                <span asp-validation-for="FirstName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LastName" class="control-label"></label>
                <input asp-for="LastName" class="form-control" />
                <span asp-validation-for="LastName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Email" class="control-label"></label>
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Password" class="control-label"></label>
                <input asp-for="Password" class="form-control" />
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ConfirmPassword" class="control-label"></label>
                <input asp-for="ConfirmPassword" class="form-control" />
                <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <p>Check box for coffee preference:</p>
                    <input class="form-check-input" asp-for="coffeePreference" type="radio" name="coffeePreference" value="CoffeeBlack" /> Coffee Black<br />
                    <input class="form-check-input" asp-for="coffeePreference" type="radio" name="coffeePreference" value="CoffeeCreamSugar" /> Coffee Cream Sugar<br />
                    <input class="form-check-input" asp-for="coffeePreference" type="radio" name="coffeePreference" value="CoffeeCreamOnly" /> Coffee Cream Only<br />
                    <input class="form-check-input" asp-for="coffeePreference" type="radio" name="coffeePreference" value="CoffeeSugarOnly" /> Coffee Sugar Only<br /><br />
                </label>
                <span asp-validation-for="coffeePreference" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Register" class="btn btn-primary" />
            </div>
            
        </form>
    </div>
</div>

<div>
    
    <input type="hidden" asp-for="Id" />

    <a asp-controller="Users" asp-action="Index">Return to User List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
